Repository NoroffFEU/edu-gate, pull requests merged in 2024-12, with the labels that each got.

#193 added tailwind.config and setup CSS
  css/input.css
  css/style.css
  package.json
  tailwind.config.js
Labels: CSS

#199 edited head html section
  css/output.css
  public/index.html
Labels: code

#198 added modals to public/modals
  public/modals/modals.html
Labels: HTML, code

#195 Removed duplicate build script in package.json
  css/style.css
  package.json
Labels: CSS
