Repository NoroffFEU/edu-gate, pull requests merged in 2025-02, with the labels that each got.

#290 About page tailwind
  templates/about.html
  templates/index.html
Labels: HTML, CSS, code

#255 Added coding to dashboard pages
  public/icons/Student-initials.png
  public/icons/hamburger-menu.png
  public/img/Student initials mobile.png
  public/img/Student initials.png
  templates/dashboard-admin.html
  templates/dashboard-student.html
  templates/dashboard-teacher.html
  templates/manage-user.html
Labels: code

#237 Select-Manage-User + added icons for navigation and search functionality
  public/icons/chevron-double-left.png
  public/icons/chevron-double-right.png
  public/icons/chevron-left.png
  public/icons/chevron-right.png
  public/icons/search-on-hover.png
  public/icons/search.png
  templates/header.html
  templates/select-user.html
Labels: HTML, CSS, code

#297 Add Teachers page
  templates/add-teachers.html
Labels: HTML, CSS, code

#312 Edit profiles tailwind css
  public/icons/user-circle-edit-mobile.png
  public/img/Circles_illustration_mobile.png
  templates/contact.html
  templates/edit-profile-admin.html
  templates/edit-profile-student.html
  templates/edit-profile-teacher.html
Labels: CSS

#309 Student results teacher view
  public/icons/add.png
  public/icons/info.png
  templates/student-result-teacher-view.html
  templates/teacher-student-results.html
Labels: HTML, CSS

#296 Add school page
  templates/add-school.html
  templates/add-teachers.html
Labels: HTML, CSS

#241 Top performing students HTML
  public/icons/green-double-arrows-right.png
  public/icons/info.png
  templates/top-performing-students.html
Labels: HTML, CSS

#247 added edit/info modals to modals.html
  public/modals/modals.html
Labels: HTML

#343 Requested changes in styling in add students new
  templates/add-students-new.html
Labels: CSS

#293 Added requested changes in add-results html
  templates/add-results.html
Labels: HTML, CSS, code
